/*

*/
.version.capnhatthongtin {
	color: #000009;
	background-color: #5CC71F;
}
#page {
	z-index: 1;
	width: 1024px;
	min-height: 779px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}
#ppslideshowu3219 {
	z-index: 0;
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}
#pslideshowu3219 {
	z-index: 91;
	width: 0.01px;
}
#slideshowu3219 {
	z-index: 91;
	width: 0.01px;
	height: 184px;
	position: relative;
	margin-right: -10000px;
}
#u3237 {
	position: absolute;
	width: 1024px;
	height: 184px;
}
#u3237popup {
	z-index: 92;
}
#u3238 {
	z-index: 93;
	width: 1024px;
	height: 184px;
	margin-right: -10000px;
	position: relative;
}
#u3240 {
	z-index: 95;
	width: 1024px;
	height: 184px;
	margin-right: -10000px;
	position: relative;
}
#u3242 {
	z-index: 97;
	width: 1024px;
	height: 184px;
	margin-right: -10000px;
	position: relative;
}
#u2818 {
	z-index: 99;
	height: 47px;
}
.js body {
	visibility: hidden;
}
.js body.initialized {
	visibility: visible;
}
#u2818-bw {
	z-index: 99;
	margin-top: 184px;
	height: 47px;
}
#u2827 {
	z-index: 100;
	width: 163px;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: 43px;
}
#u2829 {
	z-index: 102;
	width: 75px;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 94px;
}
#u14720 {
	z-index: 104;
	width: 357px;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
	left: 667px;
}
#u2825 {
	z-index: 105;
	width: 357px;
	position: relative;
	margin-right: -10000px;
}
#u2831 {
	z-index: 107;
	width: 76px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 73px;
}
#u11425-4 {
	z-index: 109;
	width: 202px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 155px;
}
#u11422-4 {
	z-index: 113;
	width: 201px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 156px;
}
#u2839 {
	z-index: 117;
	width: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 155px;
}
#u2841 {
	z-index: 119;
	width: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 219px;
}
#u2843 {
	z-index: 121;
	width: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 187px;
}
#menuu2845 {
	z-index: 123;
	width: 455px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
	left: 213px;
}
#u2860 {
	width: 150px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}
#u2861 {
	width: 150px;
	padding-bottom: 15px;
	position: relative;
}
#u2861:hover {
	width: 150px;
	min-height: 0px;
	margin: 0px;
}
#u2862 {
	height: 19px;
	width: 150px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}
#u2846 {
	width: 150px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 152px;
}
#u2847 {
	width: 150px;
	padding-bottom: 17px;
	position: relative;
}
#u2861.MuseMenuActive, #u2847:hover {
	width: 150px;
	min-height: 0px;
	margin: 0px;
}
#u2847.MuseMenuActive {
	width: 150px;
	min-height: 0px;
	margin: 0px;
}
#u2850 {
	height: 17px;
	width: 150px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}
#u2867 {
	width: 151px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 304px;
}
#u2868 {
	width: 151px;
	padding-bottom: 17px;
	position: relative;
}
#u2868:hover {
	width: 151px;
	min-height: 0px;
	margin: 0px;
}
#u2868.MuseMenuActive {
	width: 151px;
	min-height: 0px;
	margin: 0px;
}
#u2870 {
	height: 17px;
	width: 151px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}
#u4485 {
	z-index: 139;
	width: 925px;
	margin-left: 54px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}
#u4486 {
	z-index: 140;
	width: 25px;
	position: relative;
	margin-right: -10000px;
}
#u4488-4 {
	z-index: 142;
	width: 891px;
	min-height: 26px;
	position: relative;
	margin-right: -10000px;
	left: 34px;
}
#pamphletu11080 {
	z-index: 40;
	width: 0.01px;
	height: 70px;
	padding-bottom: 182px;
	margin-left: 82px;
	margin-top: 30px;
	position: relative;
}
#u11092 {
	position: absolute;
	width: 652px;
	height: 251px;
	background-color: transparent;
	left: 201px;
}
#u11092popup {
	z-index: 41;
}
#u11103 {
	z-index: 42;
	width: 652px;
	height: 251px;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: #FDE7C4;
	background-color: rgba(251,176,59,0.3);
	border-radius: 0px 10px 10px 10px;
	margin-right: -10000px;
	margin-bottom: -2px;
	position: relative;
	-pie-background: rgba(251,176,59,0.3);
}
#u11103_position_content {
	padding-top: 16px;
	width: 100%;
}
#pu11008 {
	z-index: 43;
	width: 0.01px;
	margin-left: 23px;
}
#u11008 {
	z-index: 43;
	width: 300px;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}
#u11009 {
	z-index: 44;
	width: 36px;
	height: 35px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 9px;
	background: transparent url("../images/i-user%404x.png?crc=369340300") no-repeat center center;
	background-size: contain;
}
#u11678 {
	z-index: 51;
	width: 229px;
	min-height: 28px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 54px;
}
#u11019 {
	z-index: 45;
	width: 300px;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 309px;
}
#u11020 {
	z-index: 46;
	width: 36px;
	height: 35px;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 9px;
	background: transparent url("../images/email.png?crc=11709532") no-repeat center center;
	background-size: contain;
}
#u11683 {
	z-index: 52;
	width: 229px;
	min-height: 28px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 53px;
}
#pu11022 {
	z-index: 47;
	width: 0.01px;
	margin-left: 23px;
	margin-top: 12px;
}
#u11022 {
	z-index: 47;
	width: 300px;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}
#u11023 {
	z-index: 48;
	width: 36px;
	height: 35px;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 9px;
	background: transparent url("../images/home.png?crc=3945572504") no-repeat center center;
	background-size: contain;
}
#u11688 {
	z-index: 53;
	width: 229px;
	min-height: 28px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 55px;
}
#u11025 {
	z-index: 49;
	width: 300px;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 309px;
}
#u11026 {
	z-index: 50;
	width: 36px;
	height: 35px;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 9px;
	background: transparent url("../images/address.png?crc=526126374") no-repeat center center;
	background-size: contain;
}
#u11693 {
	z-index: 54;
	width: 229px;
	min-height: 28px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 53px;
}
#u14619 {
	z-index: 55;
	width: 609px;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 10px;
	margin-left: 23px;
	margin-top: 12px;
	position: relative;
}
#u14621 {
	z-index: 57;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 9px;
}
#u14620 {
	z-index: 56;
	width: 539px;
	min-height: 28px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 53px;
}
#u14634 {
	z-index: 59;
	width: 168px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 464px;
	margin-top: 13px;
	position: relative;
}
#u11014 {
	z-index: 60;
	width: 168px;
	background-color: #F7931E;
	border-radius: 10px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}
#u11015-4 {
	z-index: 61;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 13px;
}
#u11093 {
	z-index: 65;
	width: 652px;
	height: 211px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FDE7C4;
	background-color: rgba(251,176,59,0.3);
	border-radius: 0px 10px 10px 10px;
	padding-bottom: 40px;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(251,176,59,0.3);
}
#pu11173 {
	z-index: 66;
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 22px;
	margin-left: 22px;
}
#u11173 {
	z-index: 66;
	width: 300px;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 9px;
	position: relative;
}
#u11174 {
	z-index: 67;
	width: 36px;
	height: 35px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 9px;
	background: transparent url("../images/i-pass%404x.png?crc=3806854067") no-repeat center center;
	background-size: contain;
}
#u11663 {
	z-index: 77;
	width: 229px;
	min-height: 28px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 54px;
}
#u11176 {
	z-index: 68;
	width: 300px;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 9px;
	margin-top: 18px;
	position: relative;
}
#u11177 {
	z-index: 69;
	width: 36px;
	height: 35px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 9px;
	background: transparent url("../images/i-pass%404x.png?crc=3806854067") no-repeat center center;
	background-size: contain;
}
#u11668 {
	z-index: 78;
	width: 229px;
	min-height: 28px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 54px;
}
#pu11191 {
	z-index: 70;
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 92px;
	margin-left: 339px;
}
#u11191 {
	z-index: 70;
	width: 300px;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 9px;
	position: relative;
}
#u11197 {
	z-index: 71;
	width: 36px;
	height: 35px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 9px;
	background: transparent url("../images/i-pass%404x.png?crc=3806854067") no-repeat center center;
	background-size: contain;
}
#u11673 {
	z-index: 79;
	width: 229px;
	min-height: 28px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 54px;
}
#u11206 {
	z-index: 72;
	width: 168px;
	background-color: #F7931E;
	border-radius: 10px;
	padding-bottom: 8px;
	margin-left: 132px;
	margin-top: 23px;
	position: relative;
}
#u11207-4 {
	z-index: 73;
	width: 142px;
	min-height: 28px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: '__UTM Avo_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 13px;
}
#u11083 {
	z-index: 80;
	width: 202px;
	height: 71px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}
#u11086 {
	position: absolute;
	width: 200px;
	height: 27px;
	border-style: solid;
	border-width: 1px;
	border-color: #B5B5B5;
	background-color: #F7931E;
	border-radius: 10px 0px 0px 0px;
	padding-bottom: 11px;
}
#u11086:hover {
	border-color: #999999;
	background-color: #F7931E;
	width: 200px;
	height: 27px;
	min-height: 0px;
	margin: 0px;
}
#u11086.PamphletThumbSelected {
	border-color: #666666;
	background-color: #FBB03B;
	border-radius: 10px 0px 0px 0px;
	width: 200px;
	height: 27px;
	min-height: 0px;
	margin: 0px;
}
#u11087 {
	z-index: 83;
	height: 20px;
	width: 180px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
	background: transparent url("../images/u11087.png?crc=160525458") no-repeat 0px 0px;
}
#u11086:hover #u11087 {
	background: transparent url("../images/u11087-r.png?crc=4176250077") no-repeat 0px 0px;
}
#u11086.PamphletThumbSelected #u11087 {
	background: transparent url("../images/u11087-a.png?crc=4137756593") no-repeat 0px 0px;
}
#u11088 {
	position: absolute;
	width: 200px;
	height: 27px;
	border-style: solid;
	border-width: 1px;
	border-color: #B5B5B5;
	background-color: #F7931E;
	border-radius: 0px 0px 0px 10px;
	padding-bottom: 3px;
	top: 39px;
}
#u11088:hover {
	border-color: #999999;
	background-color: #F7931E;
	width: 200px;
	height: 27px;
	min-height: 0px;
	margin: 0px;
}
#u11088.PamphletThumbSelected {
	border-color: #666666;
	background-color: #FBB03B;
	border-radius: 0px 0px 0px 10px;
	width: 200px;
	height: 27px;
	min-height: 0px;
	margin: 0px;
}
#u11089 {
	z-index: 88;
	height: 20px;
	width: 180px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
	background: transparent url("../images/u11089.png?crc=4003449026") no-repeat 0px 0px;
}
#u11088:hover #u11089 {
	background: transparent url("../images/u11089-r.png?crc=500126687") no-repeat 0px 0px;
}
#u11088.PamphletThumbSelected #u11089 {
	background: transparent url("../images/u11089-a.png?crc=4123677781") no-repeat 0px 0px;
}
.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton {
	cursor: pointer;
}
.css_verticalspacer .verticalspacer {
	height: calc(100vh - 779px);
}
#pu3054 {
	z-index: 2;
	width: 0.01px;
	margin-bottom: -2px;
	margin-right: -10000px;
	margin-top: 5px;
}
#u3054 {
	z-index: 2;
	min-height: 177px;
	padding-bottom: 26px;
}
#u3057 {
	z-index: 14;
	width: 134px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 146px;
}
#pu3067-4 {
	z-index: 24;
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 52px;
	margin-left: 344px;
}
#u3067-4 {
	z-index: 24;
	width: 179px;
	min-height: 34px;
	margin-left: 1px;
	position: relative;
}
#u3056-10 {
	z-index: 4;
	width: 250px;
	min-height: 88px;
	margin-top: 1px;
	position: relative;
}
#pu3068-4 {
	z-index: 28;
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 52px;
	margin-left: 640px;
}
#u3068-4 {
	z-index: 28;
	width: 217px;
	min-height: 21px;
	margin-left: 2px;
	position: relative;
}
#pu3059 {
	z-index: 16;
	width: 0.01px;
	margin-top: 15px;
}
#u3059 {
	z-index: 16;
	width: 33px;
	position: relative;
	margin-right: -10000px;
}
#u3061 {
	z-index: 18;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	left: 41px;
}
#u3063 {
	z-index: 20;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	left: 83px;
}
#u3065 {
	z-index: 22;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 124px;
}
#u3054-bw {
	z-index: 2;
	min-height: 177px;
}
#u3054_align_to_page, #u3055_align_to_page {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1024px;
}
#u3069-4 {
	z-index: 32;
	width: 294px;
	min-height: 26px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 19px;
}
#u3070-4 {
	z-index: 36;
	width: 341px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 664px;
}
#u3055, #u3055-bw {
	z-index: 3;
	min-height: 34px;
}
#muse_css_mq, .html {
	background-color: #FFFFFF;
}
body {
	position: relative;
	min-width: 1024px;
}
.verticalspacer {
	min-height: 1px;
}
@font-face {
	font-family: '__UTM Avo_5';
	src: url('../fonts/utmavo.eot');
	src: local('☺'), url('../fonts/utmavo.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: '__UTM Avo_5';
	src: url('../fonts/utmavo1.eot');
	src: local('☺'), url('../fonts/utm-avobold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
