/*

*/
.version.trang_ch_ {
	color: #0000E2;
	background-color: #0E0A93;
}
#page {
	z-index: 1;
	width: 1024px;
	min-height: 1224px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}
#ppslideshowu3219 {
	z-index: 0;
	width: 0.01px;
	margin-right: -10000px;
}
#pslideshowu3219 {
	z-index: 92;
	width: 0.01px;
}
#slideshowu3219 {
	z-index: 92;
	width: 0.01px;
	height: 184px;
	position: relative;
	margin-right: -10000px;
}
#u3237 {
	position: absolute;
	width: 1024px;
	height: 184px;
}
#u3237popup {
	z-index: 93;
}
#u3238 {
	z-index: 94;
	width: 1024px;
	height: 184px;
	margin-right: -10000px;
	position: relative;
}
#u3240 {
	z-index: 96;
	width: 1024px;
	height: 184px;
	margin-right: -10000px;
	position: relative;
}
#u3242 {
	z-index: 98;
	width: 1024px;
	height: 184px;
	margin-right: -10000px;
	position: relative;
}
#u2818 {
	z-index: 100;
	height: 47px;
}
.js body {
	visibility: hidden;
}
.js body.initialized {
	visibility: visible;
}
#u2818-bw {
	z-index: 100;
	margin-top: 184px;
	height: 47px;
}
#u2827 {
	z-index: 101;
	width: 163px;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: 43px;
}
#u2829 {
	z-index: 103;
	width: 75px;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 94px;
}
#u14720 {
	z-index: 105;
	width: 357px;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
	left: 667px;
}
#u2825 {
	z-index: 106;
	width: 357px;
	position: relative;
	margin-right: -10000px;
}
#u2831 {
	z-index: 108;
	width: 76px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 73px;
}
#u11425-4 {
	z-index: 110;
	width: 202px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 155px;
}
#u11422-4 {
	z-index: 114;
	width: 201px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 156px;
}
#u2839 {
	z-index: 118;
	width: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 155px;
}
#u2841 {
	z-index: 120;
	width: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 219px;
}
#u2843 {
	z-index: 122;
	width: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 187px;
}
#menuu2845 {
	z-index: 124;
	width: 455px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
	left: 213px;
}
#u2860 {
	width: 150px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}
#u2861 {
	width: 150px;
	padding-bottom: 15px;
	position: relative;
}
#u2861:hover {
	width: 150px;
	min-height: 0px;
	margin: 0px;
}
#u2862 {
	height: 19px;
	width: 150px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}
#u2846 {
	width: 150px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 152px;
}
#u2847 {
	width: 150px;
	padding-bottom: 17px;
	position: relative;
}
#u2861.MuseMenuActive, #u2847:hover {
	width: 150px;
	min-height: 0px;
	margin: 0px;
}
#u2847.MuseMenuActive {
	width: 150px;
	min-height: 0px;
	margin: 0px;
}
#u2850 {
	height: 17px;
	width: 150px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}
#u2867 {
	width: 151px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 304px;
}
#u2868 {
	width: 151px;
	padding-bottom: 17px;
	position: relative;
}
#u2868:hover {
	width: 151px;
	min-height: 0px;
	margin: 0px;
}
#u2868.MuseMenuActive {
	width: 151px;
	min-height: 0px;
	margin: 0px;
}
#u2870 {
	height: 17px;
	width: 151px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}
#u4485 {
	z-index: 140;
	width: 925px;
	margin-left: 54px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}
#u4486 {
	z-index: 141;
	width: 25px;
	position: relative;
	margin-right: -10000px;
}
#u4488-4 {
	z-index: 143;
	width: 891px;
	min-height: 26px;
	position: relative;
	margin-right: -10000px;
	left: 34px;
}
#pu2273 {
	z-index: 2;
	width: 0.01px;
	margin-left: 78px;
	margin-top: 9px;
}
#u2273 {
	z-index: 2;
	width: 263px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 606px;
}
#u2133 {
	z-index: 3;
	width: 261px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}
#u2133_img {
	padding-bottom: 1px;
}
#u2126 {
	z-index: 5;
	width: 263px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}
#u2276-4 {
	z-index: 7;
	width: 100px;
	min-height: 17px;
	background-color: transparent;
	font-family: '__UTM Avo_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 129px;
	left: 10px;
}
#u2277-4 {
	z-index: 11;
	width: 244px;
	min-height: 83px;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: left;
	font-family: '__UTM Avo_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 8px;
}
#u2285 {
	z-index: 15;
	width: 322px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 289px;
}
#u2175 {
	z-index: 16;
	width: 318px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 3px;
}
#u2175_img {
	padding-right: 1px;
	padding-bottom: 1px;
}
#u2168 {
	z-index: 18;
	width: 321px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}
#u2168_img {
	padding-right: 1px;
}
#u2319-4 {
	z-index: 20;
	width: 100px;
	min-height: 17px;
	background-color: transparent;
	font-family: '__UTM Avo_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 95px;
	left: 11px;
}
#u2320-4 {
	z-index: 24;
	width: 297px;
	min-height: 50px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: '__UTM Avo_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 10px;
}
#u2282 {
	z-index: 28;
	width: 321px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 289px;
}
#u2154 {
	z-index: 29;
	width: 319px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}
#u2147 {
	z-index: 31;
	width: 321px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}
#u2147_img {
	padding-right: 2px;
}
#u2325-4 {
	z-index: 33;
	width: 100px;
	min-height: 17px;
	background-color: transparent;
	font-family: '__UTM Avo_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 111px;
	left: 12px;
}
#u2326-4 {
	z-index: 37;
	width: 292px;
	min-height: 54px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: '__UTM Avo_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 12px;
}
#u2264 {
	z-index: 41;
	width: 290px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}
#u2112 {
	z-index: 42;
	width: 289px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}
#u2105 {
	z-index: 44;
	width: 290px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}
#u2267-4 {
	z-index: 46;
	width: 100px;
	min-height: 17px;
	background-color: transparent;
	font-family: '__UTM Avo_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 233px;
	left: 10px;
}
#u2270-4 {
	z-index: 50;
	width: 267px;
	min-height: 87px;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	font-family: '__UTM Avo_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 143px;
	left: 11px;
}
#pu14337 {
	z-index: 172;
	width: 0.01px;
	margin-left: 183px;
	margin-top: 31px;
}
#u14337 {
	z-index: 172;
	width: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}
#u14276 {
	z-index: 173;
	width: 150px;
	background-color: transparent;
	position: relative;
}
#u14286-4 {
	z-index: 175;
	width: 150px;
	min-height: 34px;
	background-color: transparent;
	line-height: 24px;
	font-size: 16px;
	text-align: center;
	font-family: '__UTM Avo_5';
	font-weight: 700;
	position: relative;
}
#u14340 {
	z-index: 179;
	width: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}
#u14301 {
	z-index: 180;
	width: 150px;
	background-color: transparent;
	position: relative;
}
#u14311-4 {
	z-index: 182;
	width: 150px;
	min-height: 34px;
	background-color: transparent;
	line-height: 24px;
	font-size: 16px;
	text-align: center;
	font-family: '__UTM Avo_5';
	font-weight: 700;
	position: relative;
}
#u14637 {
	z-index: 147;
	width: 246px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-bottom: -210px;
	left: 620px;
	top: -200px;
}
#u14174-4 {
	z-index: 148;
	width: 243px;
	min-height: 35px;
	border-style: solid;
	border-width: 1px;
	border-color: #006837;
	background-color: #009245;
	border-radius: 10px 10px 0px 0px;
	line-height: 35px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: '__UTM Avo_5';
	font-weight: 700;
	position: relative;
}
#u14193 {
	z-index: 152;
	width: 245px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}
#u14177 {
	z-index: 153;
	width: 243px;
	border-style: solid;
	border-width: 1px;
	border-color: #009245;
	background-color: transparent;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}
#u14180 {
	z-index: 154;
	width: 73px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 7px;
}
#u14190-6 {
	z-index: 156;
	width: 149px;
	min-height: 69px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-family: '__UTM Avo_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 88px;
}
#u14215 {
	z-index: 162;
	width: 245px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}
#u14218 {
	z-index: 163;
	width: 243px;
	border-style: solid;
	border-width: 1px;
	border-color: #009245;
	background-color: transparent;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}
#u14216 {
	z-index: 164;
	width: 73px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 7px;
}
#u14219-6 {
	z-index: 166;
	width: 149px;
	min-height: 69px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-family: '__UTM Avo_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 88px;
}
#u14190-2, #u14219-2 {
	font-size: 16px;
	line-height: 19px;
}
#u14190-4, #u14219-4 {
	font-size: 20px;
	line-height: 24px;
	color: #FF0000;
}
#pu14346 {
	z-index: 193;
	width: 0.01px;
	margin-left: 77px;
	margin-top: 4px;
}
#u14346 {
	z-index: 193;
	width: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}
#u14324 {
	z-index: 194;
	width: 150px;
	background-color: transparent;
	position: relative;
}
#u14334-4 {
	z-index: 196;
	width: 150px;
	min-height: 34px;
	background-color: transparent;
	line-height: 24px;
	font-size: 16px;
	text-align: center;
	font-family: '__UTM Avo_5';
	font-weight: 700;
	position: relative;
}
#u14343 {
	z-index: 186;
	width: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}
#u14263 {
	z-index: 187;
	width: 150px;
	background-color: transparent;
	position: relative;
}
#u14273-4 {
	z-index: 189;
	width: 150px;
	min-height: 34px;
	background-color: transparent;
	line-height: 24px;
	font-size: 16px;
	text-align: center;
	font-family: '__UTM Avo_5';
	font-weight: 700;
	position: relative;
}
#u14349 {
	z-index: 200;
	width: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 422px;
}
#u14350 {
	z-index: 201;
	width: 150px;
	background-color: transparent;
	position: relative;
}
#u14352-4 {
	z-index: 203;
	width: 150px;
	min-height: 34px;
	background-color: transparent;
	line-height: 24px;
	font-size: 16px;
	text-align: center;
	font-family: '__UTM Avo_5';
	font-weight: 700;
	position: relative;
}
.css_verticalspacer .verticalspacer {
	height: calc(100vh - 1195px);
}
#pu3054 {
	z-index: 54;
	width: 0.01px;
	margin-bottom: -2px;
	margin-right: -10000px;
	margin-top: 5px;
}
#u3054 {
	z-index: 54;
	min-height: 177px;
	padding-bottom: 26px;
}
#u3057 {
	z-index: 66;
	width: 134px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 146px;
}
#pu3067-4 {
	z-index: 76;
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 52px;
	margin-left: 344px;
}
#u3067-4 {
	z-index: 76;
	width: 179px;
	min-height: 34px;
	margin-left: 1px;
	position: relative;
}
#u3056-10 {
	z-index: 56;
	width: 250px;
	min-height: 88px;
	margin-top: 1px;
	position: relative;
}
#pu3068-4 {
	z-index: 80;
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 52px;
	margin-left: 640px;
}
#u3068-4 {
	z-index: 80;
	width: 217px;
	min-height: 21px;
	margin-left: 2px;
	position: relative;
}
#pu3059 {
	z-index: 68;
	width: 0.01px;
	margin-top: 15px;
}
#u3059 {
	z-index: 68;
	width: 33px;
	position: relative;
	margin-right: -10000px;
}
#u3061 {
	z-index: 70;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	left: 41px;
}
#u3063 {
	z-index: 72;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	left: 83px;
}
#u3065 {
	z-index: 74;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 124px;
}
#u3054-bw {
	z-index: 54;
	min-height: 177px;
}
#u3054_align_to_page, #u3055_align_to_page {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1024px;
}
#u3069-4 {
	z-index: 84;
	width: 294px;
	min-height: 26px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 19px;
}
#u3070-4 {
	z-index: 88;
	width: 341px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 664px;
}
#u3055, #u3055-bw {
	z-index: 55;
	min-height: 34px;
}
#muse_css_mq, .html {
	background-color: #FFFFFF;
}
body {
	position: relative;
	min-width: 1024px;
}
.verticalspacer {
	min-height: 29px;
}
@font-face {
	font-family: '__UTM Avo_5';
	src: url('../fonts/utmavo.eot');
	src: local('☺'), url('../fonts/utmavo.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: '__UTM Avo_5';
	src: url('../fonts/utmavo1.eot');
	src: local('☺'), url('../fonts/utm-avobold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
